---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fi-social-xbox"></i>
                <h4>Xbox Gamers</h4>
                <p>We started as a LAN group with Halo 2 and the original Xbox. We moved online with Xbox Live and we grew in number. Originally called "The Wrecking Crew," we have since updated our name to Rocket Race Heroes. Today you can find us on Xbox One playing a variety of games.</p>
                <p><br/><a href="/crew" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-gamepad"></i>
                <h4>Competitive & Social</h4>
                <p>Don't let the non-ranked gametype that inspired our name fool you. We are ready to compete as well as have fun. The key to any great gaming experience is being able to share it with others. Thanks to Xbox Live, our group can remain close despite distances between us.</p>
                <p><br/><a href="/crew" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fi-torsos-all"></i>
                <h4>Community Oriented</h4>
                <p>What good is a video game if you are playing it alone? We at RRH believe in supporting and growing the Xbox community to be a positive gaming experience for everyone. We are no strangers to busy work and personal lives, but we still find time to play.</p>
                <p><br/><a href="/crew" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><!-- /container -->
</div><!-- /service -->

{% include portfolio.html title="THE CREW" limit=15 %}

<!-- <div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div>
</div> -->
