<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Info</h4>
                <div class="hline-w"></div>
                <p>{{ site.info }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Powered By</h4>
                <div class="hline-w"></div>
                <p id="powered-by">
                    <a href="https://xboxdvr.com" class="btn-social btn-outline"><i class="fi-social-xbox"></i>Xbox DVR</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Our Bunker</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
