<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% assign sorted_members = (site.categories['members'] | sort: 'img' %}
            {% for member in sorted_members limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{{ member.img | append: '&h=200&w=200' }}" alt="">
                        <a href="{{  member.url | prepend: site.baseurl }}" class="he-view">
                                <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ member.title }}</h3>
                                </div><!-- he bg -->
                        </a><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
