<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% assign sorted_members = (site.categories['members'] | sort: 'img' %}
            {% for member in sorted_members limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                        <div class="he-view">
                            <a href="{{  member.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp">
                                <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ member.title }}</h3>
                            </a>
                            </div><!-- he bg -->
                        </div><!-- he view -->		
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->