---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-4 col-lg-offset-1">
            <h4>Bio</h4>
            <div id="member-gamertag" style="display:none;">{{ page.title }}</div>
            <div class="hline"></div>
            <p><b>Member Since:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Quote:</b> {{ quote }}</p>
            <p><b>Favorite Games:</b> {{ favorite_games }}</p>
            <p><b>Favorite Statistic:</b> {{ favorite_stat }}</p>
            <p><b>Play Style:</b> {{ play_style }}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="hline"></div>
            {{ content }}
        </div>
    </div><!--/row -->
</div><!--/container -->

<!-- This place will be the videos -->
<div id="portfoliowrap">
    <div class="portfolio-centered">
        <h3>XBOX DVR CONTENT</h3>
        <div class="dvr">
        </div>
    </div>
</div>
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ page.title }}'s Video</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
  </div>
</div>