---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-4 col-lg-offset-1">
            <h4>Bio</h4>
            <div id="member-gamertag" style="display:none;">{{ page.title }}</div>
            <div class="hline"></div>
            <p><b>Member Since:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Quote:</b> N/A</p>
        </div>
        <div class="col-lg-4 col-lg-offset-1">

            {{ content }}

        </div>
    </div><!--/row -->
</div><!--/container -->

<!-- This place will be the videos -->
<div id="portfoliowrap">
    <div class="portfolio-centered">
        <h3>XBOX DVR CONTENT</h3>
        <div class="dvr">
            <script>
                var gamertag = $('#member-gamertag').text();
                var dvr_html = '';
                $.get('https://agile-mesa-1935.herokuapp.com/xbox_dvr/videos', {gamertag: gamertag}, function(resp){
                    resp.videos.each(function(vid){
                        dvr_html += '<div><a href="'+vid.ClipUri+'"><img src="'+vid.Preview+'"/></a></div>'
                    });
                    $('div.dvr').append(dvr_html);
                });
            </script>
        </div>
    </div>
</div>